#!/bin/bash
#
# Update deployed steam server and validate install.

{{ left_4_dead_2___app._steamcmd  }} +login anonymous +app_update {{ left_4_dead_2___release._app_id }} {{ left_4_dead_2__srv._update_opts }} +quit
